{{#if checked}}
  <span aria-hidden="true">★</span>
{{else}}
  <span aria-hidden="true">☆</span>
  <span class="visuallyhidden">Not</span>
{{/if}}
Interested
<span class="visuallyhidden">. Click to toggle.</span>
