<header class="row global-nav">
  <div class="small-10 small-centered medium-9 large-3 large-offset-1 large-uncentered columns logo-container">
    <a class="logo" ></a>
  </div>
  <div class="nameplate small-12 small-centered medium-9 large-7 large-uncentered columns end"></div>
</header>
