<div class="schedule">
  <section class="day-nav row centered collapse">
    <ul class="small-12 columns">
      <li>
        {{#link-to "day" 1}}Day 1{{/link-to}}
      </li>
      <li>
        {{#link-to "day" 2}}Day 2{{/link-to}}
      </li>
    </ul>
  </section>
  {{liquid-outlet watchModels=true class="row body-container"}}
</div>
