<div class="schedule">
  <header class="row global-nav">
    <div class="small-10 small-centered medium-9 large-3 large-offset-1 large-uncentered columns logo-container">
      <a href="http://emberconf.com" class="logo" title="Go to the EmberConf 2016 Homepage"><span class="hide">EmberConf 2016</span></a>
    </div>
      <div class="nameplate small-12 small-centered medium-9 large-7 large-uncentered columns end">
      <nav>
        <a href="http://emberconf.com/speakers.html" id="nav-speakers">Speakers</a>
        <a href="http://emberconf.com/schedule.html" id="nav-schedule">Schedule</a>
        <a href="http://emberconf.com/about.html" id="nav-about">About</a>
        <a href="http://emberconf.com/location-and-hotels.html" id="nav-location-and-hotels">Location &amp; Hotels</a>
        <a href="http://emberconf.com/sponsors.html" id="nav-xsponsors">Sponsors</a>
      </nav>
    </div>
  </header>


  <section class="day-nav row centered collapse">
    <ul class="small-12 columns">
      <li>
        {{#link-to "index"}}Now{{/link-to}}
      </li>
      <li>
        {{#link-to "day" 1}}Day 1{{/link-to}}
      </li>
      <li>
        {{#link-to "day" 2}}Day 2{{/link-to}}
      </li>
    </ul>
  </section>

  {{liquid-outlet containerless=true use="to-left" watchModels=true}}
</div>
